version: '3.8'

services:
  watchtower:
    image: containrrr/watchtower:latest
    environment:
      - WATCHtower_poll_interval=30m
      - WATCHtower_labels=enabled=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

  app:
    image: ghcr.io/omrash/my-site:latest
    ports:
      - "80:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production