@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 p-0 font-sans antialiased
  }
}

@layer components {
  .container {
    @apply max-w-6xl mx-auto px-4
  }
}
